# octave stuff
*octave-workspace*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# Jekyll
_site/
.sass-cache

# Test builds
scripts/tests/site/_build
scripts/tests/site/content/LICENSE.md

# matlab scripts created by octave kernel
bisection.m
fibonacci.m
global_variables.m
increment_a.m
myScript.m
mylittlefarm.m
oldmcdonald.m
resonance_catastrophe.m
fac.m
hello_world.m
xralkldaf.m
sphericalGrid.m
spherical2Cartesian.m
rxlquapoeh.m
binomial_coefficient.m
groundwater_sim.m
F.m 
jacobian.m 
newton.m 
minimize.m
linint.m
F_thrust.m
mass_flow_rate.m
rocket_launch.m
rocket_ode.m
rocket_status.m
rocket_visualization.m
my_eig.m
test_my_roots.m

# don't version control the build directory, site is generated using CI not gh-pages
_build
