#######################################################################################
# A default configuration that will be loaded for all jupyter books
# Users are expected to override these values in their own `_config.yml` file.
# This is also the "master list" of all allowed keys and values.

#######################################################################################
# Book settings
title                       : Modellbildung und Simulation  # The title of the book. Will be placed in the left navbar.
author                      : "Dirk Reith, Jan Kleinert, and Gerd Steinebach"  # The author of the book
copyright                   : "2020 - 2022"  # Copyright year to be placed in the footer
logo                        : images/logo/hbrs_logo_text.png  # A path to the book logo
exclude_patterns            : [CHANGELOG.md, 
                               README.md, 
                               CONTRIBUTING.md, 
                               LICENSE.md]  # Patterns to skip when building the book. Can be glob-style (e.g. "*skip.ipynb")

#######################################################################################
# Execution settings
execute:
  execute_notebooks         : "off"  # Whether to execute notebooks at build time. Must be one of ("auto", "force", "cache", "off")
  cache                     : ""  # A path to the jupyter cache that will be used to store execution artifacs. Defaults to `_build/.jupyter_cache/`
  exclude_patterns          : []  # A list of patterns to *skip* in execution (e.g. a notebook that takes a really long time)

#######################################################################################
# HTML-specific settings
# for citation, add above 'powered by': <br><a href="https://doi.org/10.5281/zenodo.2560551"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.2560551.svg" alt="DOI"></a>
html:
  favicon                   : images/logo/favicon.ico  # A path to a favicon image
  navbar_number_sections    : false  # Add a number to each section in your left navbar
  navbar_footer_text        : '<div align="left">
    <a href="https://github.com/hbrs-cse/Modellbildung-und-Simulation"><img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" style="width: 20px;"> Github Repository</a>
    <br><a href="https://creativecommons.org/licenses/by-sa/4.0/"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e5/CC_BY-SA_icon.svg" alt="License: CC BY-SA 4.0"></a>
    <br>Powered by <a href="https://github.com/jupyter/jupyter-book">Jupyter Book</a>
    <br><a href="https://doi.org/10.5281/zenodo.2560551"><img src="https://zenodo.org/badge/DOI/10.5281/zenodo.2560551.svg" alt="DOI"></a>
    </div>'  # Will be displayed underneath the left navbar.
  google_analytics_id       : "UA-134708516-1"  # A GA id that can be used to track book views.
  home_page_in_navbar       : false  # Whether to include your home page in the left Navigation Bar
  use_edit_page_button      : true  # Whether to add an "edit this page" button to pages. If `true`, repository information in repository: must be filled in
  baseurl                   : ""  # The base URL where your book will be hosted. Used for creating image previews and social links. e.g.: https://mypage.com/mybook/
  comments:
    utterances:
      repo: "hbrs-cse/Modellbildung-und-Simulation"

#######################################################################################
# Launch button settings
launch_buttons:
  notebook_interface        : "jupyterlab"  # The interface interactive links will activate ["classic", "jupyterlab"]
  binderhub_url             : "https://mybinder.org"  # The URL of the BinderHub (e.g., https://mybinder.org)
  jupyterhub_url            : ""  # The URL of the JupyterHub (e.g., https://datahub.berkeley.edu)
  thebe                     : true  # Add a thebelab button to pages (requires the repository to run on Binder)

repository:
  url                       : https://github.com/hbrs-cse/Modellbildung-und-Simulation  # The URL to your book's repository
  path_to_book              : "content"  # A path to your book's folder, relative to the repository root.
  branch                    : master  # Which branch of the repository should be used when creating links

#######################################################################################
# Advanced and power-user settings
sphinx:
  extra_extensions          : []  # A list of extra extensions to load by Sphinx.
  config                    : null  # key-value pairs to directly over-ride the Sphinx configuration
  
#######################################################################################
# Extended syntax for admonitions (https://jupyterbook.org/content/content-blocks.html#new-style-admonitions)
parse:
  myst_enable_extensions : [
    "amsmath",
    "colon_fence",
    "dollarmath",
    "html_admonition",
    "html_image"
    ]

#######################################################################################
# Citation settings
bibtex_bibfiles:
   - references.bib
