name: slash-command-preview

on:
  repository_dispatch:
    types: [preview-command]

env:
  circle_ci_url: https://circleci.com/api/v1.1/project/github/joergbrech/Modellbildung-und-Simulation
  search_string: 0/html/intro.html

jobs:
  report_artifacts:
    runs-on: ubuntu-latest
    name: Comment preview url
    steps:

      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install argparse requests
         
      - name: Get the target branch name
        id: getbranch
        run: |
          branch=${{ github.event.client_payload.pull_request.head.ref }}
          if [[ -z "$branch" ]]; then branch="master"; fi
          echo ::set-output name=branch::$branch
        
      - name: Get preview url using CircleCI REST API
        id: geturl
        run: |
          python ci/parse-circleci.py ${{ env.circle_ci_url }} ${{ secrets.CIRCLE_CI_ACCESS_TOKEN }} ${{ steps.getbranch.outputs.branch }} ${{ env.search_string }} > result
          newer_build=`cat result | grep newer_build | cut -d, -f2`
          sha_short=`cat result | grep sha_short | cut -d, -f2`
          commit_url=`cat result | grep commit_url | cut -d, -f2`
          artifact_url=`cat result | grep artifact_url | cut -d, -f2`
          newer_build_warning='**Caution: ** There are a newer commits to `${{ steps.getbranch.outputs.branch }}` without build artifacts!'
          if [[  -z "$newer_build" ]]; then newer_build_warning=""; fi
          echo $newer_build_warning
          echo $sha_short
          echo $commit_url
          echo $artifact_url
          echo "::set-output name=newer_build_warning::$newer_build_warning"
          echo "::set-output name=sha_short::$sha_short"
          echo "::set-output name=commit_url::$commit_url"
          echo "::set-output name=artifact_url::$artifact_url"
          
      # To Do: Get the commit sha of the latest CircleCI artifact. It might not be the latest commit
          
      - name: Create comment
        uses: peter-evans/create-or-update-comment@v1
        with:
          issue-number: ${{ github.event.client_payload.github.payload.issue.number }}
          body: |
            Hello @${{ github.event.client_payload.github.actor }}, you asked for a preview? No problem!
            
            Click [here to see a preview](${{ steps.geturl.outputs.artifact_url }}) of the site at commit [`${{ steps.geturl.outputs.sha_short }}`](${{ steps.geturl.outputs.commit_url }}).
            ${{ steps.geturl.outputs.newer_build_warning }}
